:root {
  --white: #ffffff;
  --color-black: #000000;
  --color-offwhite: #f5f9fa;
  --color-green: #6abd8a;
  --color-muted: #e6e6e6;

  --color-success-100: #e6f9ed;
  --color-success-200: #b8eecb;
  --color-success-500: #28a745;
  --color-success-900: #14532d;

  --color-danger-100: #fdeaea;
  --color-danger-200: #fabcbc;
  --color-danger-500: #dc3545;
  --color-danger-900: #7a1f24;

  --font-spartan: "Spartan", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial;
}

.whiteColor {
  color: var(--white);
}
.whiteBg {
  background-color: var(--white);
}

.blackColor {
  color: var(--color-black);
}
.blackBg {
  background-color: var(--color-black);
}

.offwhiteColor {
  color: var(--color-offwhite);
}
.offwhiteBg {
  background-color: var(--color-offwhite);
}

.greenColor {
  color: var(--color-green);
}
.greenBg {
  background-color: var(--color-green);
}

.mutedColor {
  color: var(--color-muted);
}
.mutedBg {
  background-color: var(--color-muted);
}

.success100Color {
  color: var(--color-success-100);
}
.success100Bg {
  background-color: var(--color-success-100);
}

.success200Color {
  color: var(--color-success-200);
}
.success200Bg {
  background-color: var(--color-success-200);
}

.success500Color {
  color: var(--color-success-500);
}
.success500Bg {
  background-color: var(--color-success-500);
}

.success900Color {
  color: var(--color-success-900);
}
.success900Bg {
  background-color: var(--color-success-900);
}

.danger100Color {
  color: var(--color-danger-100);
}
.danger100Bg {
  background-color: var(--color-danger-100);
}

.danger200Color {
  color: var(--color-danger-200);
}
.danger200Bg {
  background-color: var(--color-danger-200);
}

.danger500Color {
  color: var(--color-danger-500);
}
.danger500Bg {
  background-color: var(--color-danger-500);
}

.danger900Color {
  color: var(--color-danger-900);
}
.danger900Bg {
  background-color: var(--color-danger-900);
}
